# Xcode
*.xcodeproj/
*.xcworkspace/
build/
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# CocoaPods
Pods/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Firebase
GoogleService-Info.plist

# Secrets
.env
*.p8
*.p12
*.mobileprovision
*.provisionprofile

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
